<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="messageService" class="org.example.services.MessageService" />
    <bean id="helloService" class="org.example.services.MessageService" />


    <!--repository-->
    <bean id="studentRepository" class="org.example.repository.StudentRepository"/>

    <bean id="courseRepository" class="org.example.repository.CourseRepository"/>


    <!--services-->
    <bean id="studentService" class="org.example.services.StudentService" init-method="initializeData">
         <constructor-arg ref="studentRepository"/>
         <constructor-arg ref="courseRepository"/>
    </bean>

    <bean id="courseService" class="org.example.services.CourseService" >
        <constructor-arg ref="courseRepository"/>
    </bean>
</beans>